[submodule "TetrisGame"]
	path = TetrisGame
	url = https://github.com/GeorgeJegon/TetrisGame.git
[submodule "Projeto-Integrado"]
	path = Projeto-Integrado
	url = https://github.com/GeorgeJegon/Projeto-Integrado.git
[submodule "Estudo"]
	path = Estudo
	url = git@github.com:GeorgeJegon/Estudo.git
